@{
    ViewData["Title"] = "Contact";
}

<h1>Rekommendationer till läraren</h1>

<div style="width: 800px">

    <h4>Facts:</h4>
    <p>Testdata Testdata Testdata Testdata Testdata</p>

    <h4>Exercises:</h4>
    <p>Testdata Testdata Testdata Testdata Testdata</p>


    <h4>Tests:]</h4>
    <p>Testdata Testdata Testdata Testdata Testdata</p>
</div>
<div style="height: 80px">

</div>

@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@
