@{
    ViewData["Title"] = "Home Page";
}

<h1>@Localizer.GetLocalizedString("Recomendations")</h1>

<div style="width: 800px">

    <h4>@Localizer.GetLocalizedString("Facts"):</h4>
    <p>Testdata Testdata Testdata Testdata Testdata</p>

    <h4>@Localizer.GetLocalizedString("Exercises"):</h4>
    <p>Testdata Testdata Testdata Testdata Testdata</p>


    <h4>@Localizer.GetLocalizedString("Tests"):</h4>
    <p>Testdata Testdata Testdata Testdata Testdata</p>
</div>
<div style="height: 80px">
</div>
