
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Register new user</h1>
            <form>
                <div class="form-group">
                    <label>Your e-mail</label>
                    <input type="text" class="form-control" placeholder="E-mail *" value="" />
                </div>
                <div class="form-group">
                    <label>Your password</label>
                    <input type="password" class="form-control" placeholder="Password *" value="" />
                </div>
                <div class="form-group">
                    <label>Confirm your password</label>
                    <input type="password" class="form-control" placeholder="Password confirmation *" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Register" />
                </div>
                <div class="form-group">
                    <a href="#" class="ForgetPwd">Forgot password?</a>
                </div>
            </form>
        </div>
    </div>
</div>


